@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-image: url(img/porDoSol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'libre baskerville', libre;
    font-size: 15px;
}

main, .titulo, .botao, .blocoCadastro, .conjunto{
    display: flex;
    justify-content: center;
}

main{
    margin-top: 3rem;
}

.titulo{
    margin-top: 1rem;
}

.blocoCadastro{
    background-color:rgba(0, 0, 0, 0.455); 
    width: 38rem;
    height: 30rem;
    border-radius: 3rem;
    color: white;
}

button{
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'libre baskerville', libre;
}

button:hover{
    background-color: orange;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

label{
    display: block;
}

.input{
    margin-top: 1rem;
    margin-left: 1rem;
}

input{
    width: 15rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid black;
}

select{
    width: 15.3rem;
    height: 2.3rem;
    border-radius: 2rem;
    border: 1px solid black;
}

#data{
    width: 15.2rem;
    height: 2.1rem;
}

input:hover, select:hover{
    background-color: antiquewhite;
}

hr{
    background-color: white;
    width: 35rem;
    height: 1px;
}

.botao button{
    height: 3rem;
    width: 10rem;
    border-radius: 12rem;
    border: 1px solid white;
    margin-top: 3rem;
    font-family: 'libre baskerville', libre;
    font-size: 20px;
}

.botao button:hover{
    border: 1px solid black;
    background-color: orange;
    color: black;
    cursor: pointer;
}